<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ShubusViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShubusViewer.Properties.Settings>
            <setting name="myLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mySize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="myFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="myFontName" serializeAs="String">
                <value />
            </setting>
            <setting name="iamMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textDlgSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="textDlgDecoder" serializeAs="String">
                <value />
            </setting>
            <setting name="itemDlgDecoder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="myHorizontal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="myFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="mySaveFolderPref" serializeAs="String">
                <value />
            </setting>
            <setting name="myOpenFolderPref" serializeAs="String">
                <value />
            </setting>
            <setting name="myBgColor" serializeAs="String">
                <value />
            </setting>
            <setting name="myFgColor" serializeAs="String">
                <value />
            </setting>
            <setting name="autoApplyColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoApplyFont" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="swPlayerVersion" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="dlgModeAutoClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cb1DlgSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb2DlgSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb3DlgSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="favListNotEmpty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="searchQueryGoogle" serializeAs="String">
                <value>https://www.google.com/search?q=</value>
            </setting>
        </ShubusViewer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
